<IfModule mod_rewrite.c>
  RewriteEngine On

  # Környezeti változók beállítása
  SetEnv DB_HOST srv858.hstgr.io
  SetEnv DB_NAME u802535957_taskmanager
  SetEnv DB_USER u802535957_taskmanager
  SetEnv DB_PASSWORD Martin200210

  # Ha a public mappában lévő fájlra érkezett a kérés, szolgáld ki a fájlt
  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ public/%1 [END]

  # Minden más esetben az index.php-t futtasd le
  RewriteRule (.*)  index.php [QSA]
</IfModule>
